.contact {
  text-align: center;
  line-height: 1.7;
}

.page-title {
    font-size: 26px;
    font-family: $font-text;
    color: #BEA67C;


}
h2{
    font-size: 15px;
    color: black;
   

}


form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  height: 400px;
}

input, textarea, button {
  display: flex;
  flex-flow: column;
  font-family: $font-text;
}
.btn{
  display: inline-block;
  min-width: 160px;
  margin: 24px auto 0 auto;
  padding: 16px;
  border-radius: 5px;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  background-position: 100% 0;
  background-size: 300%;
  color:#BEA67C;
}

