#sides > section {
  display: none;

  &.active {
    display: block;
  }
}

body {
  margin: 0;
  background: dark($black, 75%);
  font-family: $font-text;
  font-size: 14px;
  line-height: 1.7;
  font-weight: $font-regular;
}
  

