header {

  background-image : url("./../../images/background.png");
  height: 400px;
  background-position: center center;
  background-size: cover;
  display: flex;

}

.main-nav{
  text-align: right;
  
}

h2{
  text-align: center;
  color: #BEA67C;
  font-size: 30px;
}

h1{
  text-align: left;
  color: #fff
}

h3 {
    color: #fff;
}

[class^="box-"] {
  position: relative;
   
  .box-image {
    position: absolute;
    width: 200px;
    height: 100%;
    overflow: hidden;
    z-index: 1;
  }

  .box-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .box-image {
    right: 0;
  }

  .box-description {
    padding: 36px 55% 36px 0;
    text-align: right;
  }

  .box-left .box-description {
    padding: 36px 0 36px 55%;
    text-align: left;
  }
}

.about {
    background-image: url("./../../images/background.png");
    height: 400px;
    width: auto;
    background-position: center center;
    background-size: cover;
    display: flex;
}

footer {
  margin: auto; }
  
.footer {
  text-align: center;
  align-items: center;
  padding: 48px 0;
  font-size: 15px;

}
     