header {

  background-image : url("./../../images/background.png");
  height: 400px;
  background-position: center center;
  background-size: cover;
  display: flex;
}

.main-nav a{
  text-decoration: none;
  color: #fff;
  font-weight: $font-bold;
  text-transform: uppercase;
  margin: 20px 20px;
  display: inline-block;
  
}
.main-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.main-nav .page-title{
    color:#fff;
    font-size: 15px;
    margin: 0, 10px;

}

.logo__subtitle{
  font-size: 35px;
  color: #BEA67C;
  font-weight: $font-bold;
  margin: 75px auto;
  width: 375px;

}
.logo__subtitle span{
  margin-left: 75px;
}
.logo__subtitle div{
  width: 100px;
  height: 3px;
  background: #BEA67C;
  margin: 20px auto;
}

h1{
  text-align: left;
  color: #fff;
  font-size: 15px;
  margin: 0, 10px;
}

h1 span{
  font-size: 10px;
}


[class^="box-"] {
   
  .box-image {
    width: 350px;
    height: 100%;
    overflow: hidden;
    z-index: 1;
  }

  .box-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .box-description {
    padding: 36px;
    text-align: center;
  }

}
.box-product:nth-of-type(2) .box-image{
  order: 2;
}

/*** carousel ***/

.main-carousel {
  height: 300px;
  margin: 10px;
  
}
  
.carousel-cell {
  width: 100%;
  display: flex;
  height: 300px;
  margin-top: 30px;
  background-image: url("./../../images/about-us.jpg");
}
  
.carousel-image img {
  border-radius: 3px;
  margin-right: 20px;
  width: 250px;
  height: 250px;
  object-fit: cover;
}
  
.carousel-post {
  h3 {
    margin-bottom: -10px;
    font-size: 19px;
  }
  
  p {
    font-size: 16px;
    font-weight: $font-regular;
    font-family: $font-text;
  }
}
  

// footer//
footer {
  margin: auto; }
  
.footer {
  text-align: center;
  align-items: center;
  padding: 48px 0;
  font-size: 15px;

}
     