.container {
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
    width: 100%;
}
    

.box-product {
    display: flex;
  }
  
.box-product > div {
    flex: 0 0 50%;
  }
  
//.box-product:nth-of-type(2) .box-description {
//    order: 2;
//  }
.box-image {
    max-width: 250px;
    height: 100%;
    left: 0;
}
.box-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
  
.box-description {
    text-align: left;
    padding-left: 20px;
    margin-left: 10px; 
}